<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <form action="../Controller/Controller_Student.php" method="post">
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="text" name="id"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input type="text" name="age"></td>
                </tr>
                <tr>
                    <td>University</td>
                    <td><input type="text" name="university"></td>
                </tr>
                <tr>
                    <td><input type="submit" name="insert"></td>
                    <td><input type="reset"name="reset"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>